<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Scan QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scan-container">
    <div class="scan-content">
      <h2>Scan a QR Code</h2>
      <p>Point your camera at a digital business card QR code</p>

      <div class="scanner-wrapper" *ngIf="isScanning">
        <div class="scanner-overlay"></div>
      </div>

      <ion-button expand="block" (click)="startScan()" *ngIf="!isScanning">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        Start Scanning
      </ion-button>

      <div *ngIf="scanError" class="error-message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>{{ scanError }}</p>
      </div>
    </div>
  </div>
</ion-content>
